<center><h2>Settings </h2> </center>
   <div class="error"> </div>
   <div class="password_form" style="display:none">
   <p id="notice alert-danger"><%= notice %></p>

      <%= form_tag change_password_path, :method => :get, remote:true,:class=>"form-inline" do %>
       <div class="col-sm-6 col-xs-12">
        <%=label_tag 'old password'%>
         <%= password_field_tag :old_password, params[:old_password],:placeholder=>"Password",:class=>"form-control" %></br>
        <%=label_tag 'new password'%>
        <%= password_field_tag :new_password, params[:new_password],:class=>"form-control",:placeholder=>"New Password" %></br>
        <%=label_tag 'confirm password'%>
        <%= password_field_tag :confirm_password, params[:confirm_password],:class=>"form-control",:placeholder=>"Confirm New Password" %></br>
        <%= hidden_field_tag :activation_token, :value => SecureRandom.hex(3) %>
        <div class="col-sm-12 col-xs-12">
       <%= submit_tag "CHANGE PASSWORD", :class=>"pull-right submit" %>
        </div>
      <%end%>
    </div>
        </div>

<div class="otp_form">
  <%= form_tag( check_otp_path, {:method => :get, remote:true}) do %>
  <%=label_tag 'Enter OTP'%>
  <%=text_field_tag 'otp', ''%></br>
  <%= submit_tag "Confirm PhoneNumber", :class=>"pull-right submit" %>
<% end %>
</div>
